* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body {
    --white: #FFFFFF;
    --light-gray: #f0f0f0;
    --med-gray: #e3e2e2;
    --dark-gray: #323232;
    --black: #000000;

    --crimson: #841617;
    --dark-crimson: #4e0002;
    --med-red: #5c0405;
    --dark-red: #391819;

    --shadow: #00000060;

    background-color: var(--light-gray);
    color: var(--black);

    font-family: 'Source Sans 3', sans-serif;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    width: min(60rem, 100% - 2rem);
    margin: 6em 0;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 2rem 0 1rem 0;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

p {
    font-size: 1.1rem;
    margin: 1rem 0;
}

a {
    color: var(--dark-crimson)
}

.text-button {
    display: block;
    border-radius: 1rem;
    padding: 0.625rem 1rem;

    text-align: center;

    text-decoration: none;
    color: inherit;
}

.hover-shadow:hover {
    transition: 0.1s;
    box-shadow: 0px 3px 4px var(--shadow);
}

.icon-button {
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: 1ch;

    & svg {
        position: relative;
        fill: currentColor;
        height: 0.9em;
        width: 0.9em;
    }

    .button-text {
        letter-spacing: 2px;
        font-weight: 500;
    }
}

.card {
    display: flex;
    flex-direction: column;
    margin: 6px;
    padding: 25px;

    color: inherit;

    .image {
        display: block;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1;

        margin-bottom: 1em;
    }

    .color-filler {
        background: linear-gradient(30deg, var(--dark-red) 0%, var(--crimson) 50%);
    }

    .card-text {
        font-size: 1.4em;
        font-weight: 500;
    }

    .card-subtext {
        font-size: 1.1em;
        font-weight: 300;
        margin-top: 0.5em;
    }
}