@font-face {
    font-family: SourceSans3;
    src: url(assets/fonts/SourceSans3-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: SourceSans3;
    src: url(assets/fonts/SourceSans3-VariableFont_wght.ttf);
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: SourceSans3, sans-serif;
    font-style: normal;
}

body {
    background-color: #F5F5F5;
    color: #000000;
    --white: #FFFFFF;
    --light-gray: #f0f0f0;
    --med-gray: #e3e2e2;
    --dark-gray: #323232;
    --black: #000000;
    --crimson: #841617;
    --dark-crimson: #4e0002;
    --dark-red: #391819;
}

.normal-width {
    width: min(1000px, 100% - 6em);
    margin-left: auto;
    margin-right: auto;
}