.docs {
    & iframe {
        all: unset;
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .float {
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .text-button {
        color: var(--white);
        background-color: var(--crimson);
    }
}