footer {
    background-color: var(--crimson);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 3em;
    gap: 2em;

    text-align: left;

    .footer-item {
        color: var(--white);
        font-weight: 300;
        letter-spacing: 0.3px;
        min-width: 30ch;
    }

    & img {
        height: 5em;
    }
}