footer {
    background-color: var(--crimson);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 3em;

    .footer-item {
        margin: 3em 3em;
        color: var(--white);
        font-weight: 300;
        letter-spacing: 0.3px;
        min-width: 30ch;
    }

    & img {
        height: 5em;
    }
}