header {
    background-color: var(--crimson);
    position: relative;
    align-items: center;
    display: grid;
    grid-auto-flow: column;

    height: 15vh;

    & h1 {
        font-weight: 900;
        font-size: 30px;
        padding: 0 5vw;
        letter-spacing: 2px;

        & a {
            text-decoration: none;
            color: var(--white);
            transition: 0.2s;
        }

        & a:hover {
            color: var(--dark-red);
        }
    }

    /*move menus to right side of webpage*/
    & nav {
        justify-self: right;
        display: flex;
        padding: 0 36px;

        & ul li {
            list-style: none;
            display: inline-block;
            margin: 8px 12px;

            & a {
                color: var(--white);
                text-decoration: none;
                font-size: 18px;
                letter-spacing: 2px;

                /*line appears under nav menu when mouse hovers*/
                /*increases from a width: 0% to width: 100%*/
                &::after {
                    content: '';
                    width: 0%;
                    height: 2px;
                    background: var(--white);
                    display: block;
                    margin: auto;
                    transition: 0.3s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}