header {
    background-color: var(--crimson);
    position: relative;
    align-items: center;
    display: flex;
    height: 15vh;
    justify-content: space-between;

    & h1 {
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 2em;
        letter-spacing: 2px;

        padding: 0 4rem;

        & a {
            text-decoration: none;
            color: var(--white);
            transition: 0.2s;
        }

        & a:hover {
            color: var(--dark-red);
        }
    }

    /*move menus to right side of webpage*/
    #menu {
        justify-self: right;
        display: flex;
        padding: 0 36px;

        & ul li {
            list-style: none;
            display: inline-block;
            margin: 8px 12px;

            & a {
                color: var(--white);
                text-decoration: none;
                font-size: 18px;
                letter-spacing: 2px;

                /*line appears under nav menu when mouse hovers*/
                /*increases from a width: 0% to width: 100%*/
                &::after {
                    content: '';
                    width: 0%;
                    height: 2px;
                    background: var(--white);
                    display: block;
                    margin: auto;
                    transition: 0.3s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }

    #narrow {
        display: none;

        & button {
            background-color: transparent;
            border: none;
            font-size: 0;
            cursor: pointer;
            padding: 2rem;
            color: var(--white);
        }

        .closeIcon {
            display: none;
        }
    }

    @media (max-width: 56em) {
        #wide {
            display: none;
        }

        #narrow {
            display: flex;
        }

        #menu {
            display: none;
        }
    }
}