@keyframes HoverDrone {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 30px;
    }
}

.home {
    display: flex;
    flex-direction: column;
}

.home .landing {
    min-height: 70vh;
    color: var(--light-gray);

    #landing-background {
        position: absolute;
        overflow: hidden;
        z-index: -1;
        height: 100%;
        width: 100%;
        background: var(--crimson);

        & svg {
            position: relative;
            left: 50vw;
            height: 100vh;
            animation: HoverDrone 7s ease infinite;
            fill: var(--med-red);
        }
    }

    #landing-content {
        z-index: 1;

        padding-top: 2vh;
        padding-left: 4rem;

        display: flex;
        flex-direction: column;
        align-items: start;

        & h1 {
            font-family: 'Manrope';
            letter-spacing: 2px;
        }

        & p {
            width: 50ch;
            font-weight: 200;
            font-size: 1.5em;
            letter-spacing: 0.1ch;
        }
    }

    .icon-button {
        margin: 1em 0;

        & svg {
            transition: 0.3s;
            height: 1.2em;
            width: 1.2em;
        }
    }

    .icon-button:hover svg {
        transform: rotate(-135deg);
    }
}

.home .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--dark-crimson);
    color: var(--white);
    min-height: 15vh;
}

.home .hero {
    background-color: var(--light-gray);

    & p {
        margin: 15vh 15vw;
        font-size: 30px;
        text-align: center;
        font-weight: 300;
    }
}

.home .technologies {
    background-color: var(--white);
    padding: 15vh;
    font-size: 38px;
    text-align: center;
    font-weight: 400;
    line-height: 175%;

    & h1 {
        font-weight: 300;
        font-size: 48px;
        letter-spacing: 2px;

        line-height: 200%;
    }
}