@keyframes HoverDrone {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 30px;
    }
}

.home {
    display: flex;
    flex-direction: column;

    .text-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: inherit;
        gap: 8px;

        & svg {
            position: relative;
            fill: currentColor;
        }

        .button-text {
            font-size: 32px;
            letter-spacing: 2px;
            font-weight: 500;
        }
    }

    .landing {
        height: 70vh;
        color: var(--light-gray);
        position: relative;

        #landing-background {
            position: absolute;
            overflow: hidden;
            z-index: -1;
            height: 100%;
            width: 100%;
            background: var(--crimson);

            & svg {
                position: relative;
                left: 50vw;
                height: 100vh;
                animation: HoverDrone 7s ease infinite;
                fill: var(--med-red);
            }
        }

        #landing-content {
            z-index: 1;
        }

        .landing-hero {
            padding-left: 5vw;
            padding-top: 2vh;

            & h1 {
                letter-spacing: 2px;
            }

            & p {
                padding-top: 20px;
                width: 35vw;
                font-weight: 200;
                font-size: 24px;
                letter-spacing: 2px;
            }
        }

        .text-button {
            position: absolute;
            top: 80%;
            left: calc(5% - 15px);

            & svg {
                transition: 0.3s;
                height: 40px;
                width: 40px;
            }
        }

        .text-button:hover svg {
            transform: rotate(-135deg);
        }


    }

    .links {
        display: flex;
        height: 15vh;
        gap: 20px;
        justify-content: center;
        align-items: center;

        background-color: var(--dark-crimson);
        color: var(--white);

        .text-button {
            gap: 16px;
        }

        #github {
            & svg {
                height: 28px;
                width: 28px;
            }
        }

        #mdbooks {
            & svg {
                height: 26px;
                width: 26px;
            }
        }
    }

    .hero * {
        background-color: var(--light-gray);
        padding: 20vh 15vw;
        font-size: 30px;
        text-align: center;
        font-weight: 350;
    }

    .technologies {
        background-color: var(--white);
        padding: 15vh;
        font-size: 38px;
        text-align: center;
        font-weight: 450;
        line-height: 175%;

        & h1 {
            font-weight: 300;
            font-size: 48px;
            letter-spacing: 2px;

            line-height: 200%;
        }
    }
}