.publications {
    padding: 100px 0;

    & h1 {
        font-size: 48px;
        font-weight: 400;
        padding: 24px 0px;
    }

    & h2 {
        font-size: 28px;
        font-weight: 250;
        padding-top: 10px;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    & a:hover {
        text-decoration: underline;
    }

    .publication {
        margin: 38px 16px;

        & h3 {
            font-size: 28px;
            font-weight: 550;
            padding-bottom: 12px;
        }

        & p {
            font-size: 22px
        }
    }
}