.publications {
    padding: 100px 0;

    .publication {
        margin: 38px 16px;
        display: flex;
        justify-content: space-between;

        gap: 24px;

        & p {
            word-break: break-word;
        }

        .text-button {
            color: var(--white);
            background-color: var(--crimson);
        }
    }
}