.research {
    padding: 100px 0;

    & img {
        width: 90%;
    }

    .row {
        text-align: center;
    }

    & section {
        margin: 24px 0;
    }

    .research-spotlight {
        margin: 0 8vw;
        display: block;
        flex-direction: column;

        & h1 {
            text-align: center;
        }

        & p:not(:empty) {
            margin: 24px 0;

            & img {
                display: block;
                margin: 0 auto;
            }

        }
    }

    .research-set {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-top: 64px;

        & li {
            list-style: none;
        }

        .research-card {
            width: 300px;

            & a {
                text-decoration: none;
                height: 100%;
                display: block;
                color: inherit;
                border-radius: 28px;
                background-color: var(--med-gray)00;
                transition: background-color 0.2s ease;

                .card-contents {
                    display: flex;
                    flex-direction: column;
                    padding: 25px;
                    gap: 25px;

                    & img {
                        display: block;
                        width: 100%;
                        height: 250px;
                        border-radius: 8px;
                        object-fit: cover;
                    }
                }
            }

            & a:hover {
                background-color: var(--med-gray);
            }
        }
    }
}