.research {
    & p {
        margin: 1em;
    }

    .research-set {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3em;
    }

    .card {
        width: 16em;
    }
}

.research-spotlight {
    width: min(50em, 100% - 6em);
    margin: auto;

    & h1 {
        text-align: center;
    }

    .links {
        display: flex;
        gap: 2em;
        justify-content: center;
        align-items: center;
        color: var(--black);
        margin: 3em 0;
    }

    .icon-button {
        background-color: var(--med-gray);
        font-size: 1.2em;
    }

    & img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    & p {
        margin: 1em;
    }
}