.team {
    .bio-set {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }

    .alum-set {
        list-style: inside;
    }

    .card {
        width: 12em;

        .image {
            border-radius: 50%;
        }
    }
}

.member {
    margin: 0 8vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & h3 {
        align-self: center;
    }

    & img {
        text-align: left;
        align-self: center;
        width: 30vw;
        aspect-ratio: 1/1;
    }
}