@font-face {
    font-family: SourceSans3;
    src: url(assets/fonts/SourceSans3-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: SourceSans3;
    src: url(assets/fonts/SourceSans3-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

html {
    background-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    font-family: SourceSans3, sans-serif;
}

/*background photo*/
.header {
    background-color: #002E3A;
    position: relative;
    display: grid;
    align-items: center;
    color: #94CAD8;
    grid-auto-flow: column;
    height: 15vh
}

.header-title {
    font-weight: 900;
    font-size: 30px;
    padding: 0 5vw;
    letter-spacing: 2px;
}

.header-title a {
    text-decoration: none;
    color: #25A18E;
}

nav-button {
    width: 100%;
    height: 100%
}

/*move menus to right side of webpage*/
nav {
    display: flex;
    justify-self: right;
    padding: 0 36px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

nav ul li a {
    color: #94CAD8;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}

/*puts a red line under menus*/
nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #94CAD8;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/*red line appears under nav menu when mouse hovers*/
/*increases from a width: 0% to width: 100%*/
nav ul li:hover::after {
    width: 100%;
}

/* ------ Team Mission -------*/
.Mission {
    text-align: left;
    padding-top: 75px;
    padding-left: 5%;
}

.Mission h1 {
    font-size: 30px;
    padding-left: 10px;
}

.Mission p {
    font-size: 15px;
    color: rgb(58, 58, 58);
    padding-right: 15%;
}

.a:visited {
    color: rgb(0, 0, 0);
}

/* ------ Team Mission -------*/


/*------ News ---------*/
/*Centers the "Meet The Team" header & paragraph  (change these comments)*/
.News {
    text-align: left;
    padding-top: 100px;
    padding-left: 5%;
}

.divider {
    width: 50%;
    height: 2px;
    background-color: rgb(113, 113, 113);
    /* this will set the divider to a medium gray color */
}

.News h1 {
    color: rgb(65, 65, 65);
    font-size: 36px;
    padding-top: -20%;
    font-weight: 600;
}

.News h2 {
    color: rgb(83, 82, 82);
    padding-left: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.column img {
    width: 100%;
    border-radius: 10px;
}

.row p {
    padding: 0;
}

.Event {
    width: 100%;
}

.Event p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding-right: 20%;
}

@media(max-height:700px) {
    #Event img {
        width: 100%;
    }
}



/*------ Prospective Students ---------*/
.ProspectiveStudents h1 {
    font-size: 20px;
    padding-left: 5px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.ProspectiveStudents p {
    font-size: 15px;
    padding-left: 5px;
    text-align: left;
    color: rgb(0, 0, 0);
}













/* ----- Sub Page ---------------*/
/*------ Meet The People --------*/
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(assets/images/lab_photo.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

/* moving text in subheader to center of photo*/
.sub-header h1 {
    margin-top: 100px;
}


/* People sub-page Biographies */

.bios {
    width: 80%;
    margin: auto;
    /*will be centered*/
    text-align: center;
    padding-top: 100px;
}

.bio-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.bios img {
    width: 10em;
    height: 10em;
    margin: 0 2em 0 0;
    border-radius: 1em;
}

.bios h3 {
    text-align: left;
    top: 100px;
}

/* Name */
.bio h1 {
    font-size: 36px;
    font-weight: 600;
    /*margin-right: 500px;*/
    text-align: left;
    padding: 10px;
}

/* Biography */
.bio p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
    text-align: left;
    margin-right: 500px;
    width: 100%;
}

/* Biography subheaders */
.bio h4 {
    color: rgb(0, 0, 0);
    width: 100%;
    margin-right: 500px;
}

@media (max-width: 700px) {
    .bio-row {
        flex-direction: column;
    }
}

.footer {
    background-color: #002E3A;
    text-align: center;
    padding: 30px 0;

    display: grid;
    align-items: center;
    grid-auto-flow: column;
}

.footer p {
    color: #DAF7FF;
}

.footer img {
    height: 60px;
}

/* ----- Sub Page ---------------*/
/*------ news --------*/
.sub-header-news {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(assets/images/musr_car.jpg);
    background-position: 100% 30%;
    /* The 40% shifts the image down in the box */
    background-size: cover;
    text-align: center;
    color: #fff;
}

/* moving text in subheader to center of photo*/
.sub-header-news h1 {
    font-size: 40px;
    margin-top: 100px;
}



/* ----- Sub Page ---------------*/
/*------ research --------*/
.sub-header-research {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(assets/images/old-3d-printers.png);
    background-position: 100% 50%;
    /* The 40% shifts the image down in the box */
    background-size: cover;
    text-align: center;
    color: #fff;
}

/* moving text in subheader to center of photo*/
.sub-header-research h1 {
    font-size: 40px;
    margin-top: 100px;
}


.research-container {
    display: flex;
    flex: 33.33%;
    padding: 5px;
    gap: 5px;
    justify-content: space-evenly;
}

.research-col {
    align-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.research-col p {
    text-align: left;
    font-size: 15px;
    padding-left: 7%;
    color: black;
}

.research-col h1 {
    padding-left: 7%;
}

.research-col img {
    width: 75%;
    padding-left: 10%;
}

.research-col-1 {
    align-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.research-col-1 p {
    text-align: left;
    font-size: 15px;
    padding-right: 15%;
    color: black;
}

.research-col-1 h1 {
    padding-left: 1%;
    padding-right: 6%;
}

.research-col-1 img {
    width: 75%;
    padding-left: 10%;
}

.center-img {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.publications {
    padding: 5%;
}

.publications h1 {
    text-align: left;
    font-size: 40px;
}

.publications p {
    text-align: left;
    font-size: 20px;
    color: black;
}

.home {
    display: flex;
    flex-direction: column;

    .landing {
        background-color: #002E3A;
        background-image: url("/assets/images-stock/drone.svg");
        background-repeat: no-repeat;
        background-position: 140% 20%;
        background-size: 70%;
        height: 85vh;
        color: #7DC6D9;

        .landing-hero {
            padding-left: 5vw;
            padding-top: 5vw;

            & h1 {
                font-weight: 350;
                font-size: 48px;
                letter-spacing: 2px;
            }

            & p {
                padding-top: 20px;
                width: 35vw;
                color: #7DC6D9;
                font-weight: 200;
                font-size: 24px;
                letter-spacing: 2px;
            }
        }


        & a {
            position: absolute;
            top: 80vh;
            left: 5vw;

            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;

            .button-icon {
                height: 40px;
            }

            .button-text {
                padding-left: 8px;
                font-size: 32px;
                letter-spacing: 2px;
                font-weight: 500;
                color: #7DC6D9;
            }
        }

    }
}