@font-face {
    font-family: SourceSans3;
    src: url(assets/fonts/SourceSans3-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: SourceSans3;
    src: url(assets/fonts/SourceSans3-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

html {
    background-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    font-family: SourceSans3, sans-serif;
    color: #002E3A;
}

/*background photo*/
.header {
    background-color: #391819;
    position: relative;
    align-items: center;
    display: grid;
    grid-auto-flow: column;

    height: 15vh;

    & h1 {
        font-weight: 900;
        font-size: 30px;
        padding: 0 5vw;
        letter-spacing: 2px;

        & a {
            text-decoration: none;
            color: #841617;
        }
    }

    /*move menus to right side of webpage*/
    & nav {
        justify-self: right;
        display: flex;
        padding: 0 36px;

        & ul li {
            list-style: none;
            display: inline-block;
            margin: 8px 12px;

            & a {
                color: #ffffff;
                text-decoration: none;
                font-size: 18px;
                letter-spacing: 2px;

                /*line appears under nav menu when mouse hovers*/
                /*increases from a width: 0% to width: 100%*/
                &::after {
                    content: '';
                    width: 0%;
                    height: 2px;
                    background: #ffffff;
                    display: block;
                    margin: auto;
                    transition: 0.5s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

.footer {
    background-color: #391819;
    padding: 48px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 8vw;

    & img {
        height: 72px;
        opacity: 0.7;
    }

    & p {
        color: #FFFFFF;
        opacity: 0.7;
        font-weight: 325;
        letter-spacing: 0.3px;
    }
}

.home {
    display: flex;
    flex-direction: column;

    .landing {
        background-color: #391819;
        background-image: url("assets/images-stock/drone.svg");
        background-repeat: no-repeat;
        background-position: 140% 20%;
        background-size: 70%;
        height: 85vh;
        color: #f0f0f0;

        .landing-hero {
            padding-left: 5vw;
            padding-top: 5vw;

            & h1 {
                font-weight: 350;
                font-size: 48px;
                letter-spacing: 2px;
                color: #f0f0f0;
            }

            & p {
                padding-top: 20px;
                width: 35vw;
                font-weight: 200;
                font-size: 24px;
                letter-spacing: 2px;
                color: #f0f0f0;
            }
        }


        & a {
            position: absolute;
            top: 80vh;
            left: 5vw;

            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;

            .button-icon {
                height: 40px;
            }

            .button-text {
                padding-left: 8px;
                font-size: 32px;
                letter-spacing: 2px;
                font-weight: 500;
                color: #f0f0f0;
            }
        }

    }

    .hero * {
        background-color: #f0f0f0;
        padding: 20vh 15vh;
        font-size: 30px;
        text-align: center;
        font-weight: 350;
        color: #000000;
    }

    .technologies {
        background-color: #ffffff;
        padding: 15vh;
        font-size: 38px;
        text-align: center;
        font-weight: 450;
        color: #000000;
        line-height: 175%;

        & h1 {
            font-weight: 300;
            font-size: 48px;
            letter-spacing: 2px;

            line-height: 200%;
        }
    }
}

.news {
    padding: 5vw 8vw;

    & h1 {
        font-size: 48px;
        font-weight: 400;
        padding-bottom: 24px;
    }

    .news-snippet {
        background-color: #e3e2e2;
        padding: 32px;
        border-radius: 28px;

        margin: 24px 0px;
        display: grid;
        grid-template-columns: 1fr 220px;
        gap: 8vw;

        .content {

            & h3 {
                font-size: 28px;
                font-weight: 250;
                padding-bottom: 2px;
            }

            & h2 {
                font-size: 28px;
                font-weight: 550;
                padding-bottom: 16px;
            }

            & p {
                font-size: 22px
            }
        }

        .images {
            position: relative;
            height: fit-content;

            & img {
                width: 100%;
                border-radius: 8px;
            }

            .button-left,
            .button-right {
                position: absolute;
                cursor: pointer;
                bottom: 0%;
                padding: 16px;
                width: 50px;
                font-weight: bold;
                font-size: 18px;
                border-radius: 0 8px 0 0;
                border: 0;
                opacity: 50%;
                background-color: #e3e2e2;
                transition-duration: 0.2s;
            }

            .button-right {
                right: 0;
                border-radius: 8px 0 0 0;
            }

            .button-left:hover,
            .button-right:hover {
                opacity: 100%
            }
        }
    }
}

.publications {
    padding: 5vw 8vw;

    & h1 {
        font-size: 48px;
        font-weight: 400;
        padding: 24px 0px;
    }

    & h2 {
        font-size: 28px;
        font-weight: 250;
        padding-top: 10px;
    }

    & a {
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }

    .publication {
        margin: 38px 0;

        & h3 {
            font-size: 28px;
            font-weight: 550;
            padding-bottom: 16px;
        }

        & p {
            font-size: 22px
        }
    }
}