*{ 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}
/*background photo*/
.header{ 
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/musr_car.jpg);
    background-position: 100% 40%; /* The 40% shifts the image down in the box */
    background-size: cover;
    position: relative; 
}
/*move menus to right side of webpage*/
nav{ 
    display: flex;
    padding: 2% 6%; 
    justify-content: space-between;
    align-items: center; 
}
/*navigation menu orientation*/
nav img{ 
    width: 150px;   
}
.nav-links{ 
    flex: 1; 
    text-align: right;
}
.nav-links ul li{ 
    list-style: none;
    display: inline-block; 
    padding: 8px 12px; 
    position: relative; 
}
.nav-links ul li a{ 
    color: #fff; 
    text-decoration: none;
    font-size: 13px;
}
/*puts a red line under menus*/
.nav-links ul li::after{ 
    content: '';
    width: 0%;
    height: 2px; 
    background: #f44336;
    display: block; 
    margin: auto;  
    transition: 0.5s;
}
/*red line appears under nav menu when mouse hovers*/
/*increases from a width: 0% to width: 100%*/
.nav-links ul li:hover::after{ 
    width: 100%; 
}
.text-box{ 
    width: 90%;
    color: #fff;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); /*moving to the center*/
    text-align: center;
}
/*h1: for the title*/
.text-box h1{
    font-size: 62px;
    padding-top: 55px; 
}
/*paragraph*/
.text-box p{ 
    /*10px from top, 0 from left and right, 40px from bottom*/
    margin: 15px 30px 40px; 
    font-size: 16px;
    color: #fff;
}
/*designs button on home page*/ 
.hero-btn{ 
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff; 
    padding: 12px 34px; 
    font-size: 13px; 
    background: transparent; 
    position: relative; 
    cursor: pointer; 
}
/*creates hover effet for button*/
.hero-btn:hover{ 
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{ 
    display: none; 
}
/*to adapt for smaller device interface*/
@media(max-width: 700px){ 

    /*changing font size for title*/
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{ 
        display: block; 
    }
    /*puts nav menus on side*/
    .nav-links{ 
        position: absolute; 
        background: #f44336;
        height: 100vh;
        width: 200px; 
        top: 0; 
        right: -200px; 
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block; 
        color: #fff; 
        margin: 10px; 
        font-size: 22px; 
        cursor: pointer;
    }
    .nav-links ul{ 
        padding: 30px; 
    }
}

/* ------ Team Mission -------*/ 
.Mission{ 
    text-align: left;
    padding-top: 75px;
    padding-left: 5%;
}
.Mission h1{
    font: 'Roboto';
    font-size: 30px;
    padding-left: 10px; 
}
.Mission p{ 
    font-size: 15px;
    color:rgb(58, 58, 58); 
    padding-right: 15%;
}
.a:visited{
    color:rgb(0, 0, 0);
} 

/* ------ Team Mission -------*/ 


/*------ News ---------*/ 
/*Centers the "Meet The Team" header & paragraph  (change these comments)*/ 
.News{ 
    text-align: left;
    padding-top: 100px;
    padding-left: 5%;
}
.divider {
    width: 50%;
    height: 2px;
    background-color: rgb(113, 113, 113); /* this will set the divider to a medium gray color */
} 
.News h1{ 
    font-size: 36px;
    padding-top: -20%;
    font-weight: 600;
}

p{ 
    color: #777; 
    font-size: 14px;
    font-weight: 300; 
    line-height: 22px;
    padding: 10px;
}
.row{ 
    display: flex;
}
.column{ 
    flex: 33.33%;
    padding: 5px;
}
.column img{
    width: 100%;
    border-radius: 10px; 
}
.row p{ 
    padding: 0; 
}
.Event{ 
    width: 100%; 
}
.Event p{ 
    color:rgb(0, 0, 0);
    font-size: 15px;
    padding-right: 20%; 
    font: 'Roboto';
}
@media(max-height:700px){ 
    #Event img{ 
        width: 100%; 
    }
}



/*------ Prospective Students ---------*/ 
.ProspectiveStudents h1{
    font-size: 20px;
    padding-left: 5px;
    text-align: left;
    color:rgb(0, 0, 0);
}
.ProspectiveStudents p{
    font-size: 15px;
    padding-left: 5px;
    text-align: left;
    color:rgb(0, 0, 0);
}













/* ----- Sub Page ---------------*/ 
/*------ Meet The People --------*/ 
.sub-header { 
    height: 50vh;
    width: 100%; 
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/lab_photo.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
/* moving text in subheader to center of photo*/ 
.sub-header h1{ 
    margin-top: 100px;
}


/* People sub-page Biographies */ 

.Meet-The-People{ 
    width: 80%; 
    margin: auto; /*will be centered*/
    text-align: center;
    padding-top: 100px;
}

.bio-row{ 
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.Meet-The-People img{ 
    width: 25%; 
    height: 25%;
    padding: 0 10px 0 0;
    border-radius: 20px;
}

.Meet-The-People h3 { 
    text-align: left;
    top: 100px;
}

/* Name */ 
.bio h1{ 
    font-size: 36px;
    font-weight: 600;
    /*margin-right: 500px;*/
    text-align: left;
    padding: 10px;
}

/* Biography */ 
.bio p{ 
    color: rgb(0, 0, 0); 
    font-size: 14px;
    font-weight: 300; 
    line-height: 22px;
    padding: 10px;
    text-align: left;
    margin-right: 500px;
    width: 100%;
}

/* Biography subheaders */
.bio h4 { 
    color: rgb(0, 0, 0); 
    width: 100%;
    margin-right: 500px;
}

@media (max-width: 700px) { 
    .bio-row{ 
        flex-direction: column;
    }
}

.footer{
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/musr_car.jpg);
    background-position: 100% 50%; /* The 40% shifts the image down in the box */
    background-size: cover;
    position: relative; 
    text-align: center;
    padding: 30px 0; 
}
.footer h4{ 
    color:rgb(255, 255, 255);
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{ 
    color:rgb(255, 255, 255);
}



/* ----- Sub Page ---------------*/ 
/*------ news --------*/ 
.sub-header-news { 
    height: 50vh;
    width: 100%; 
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/musr_car.jpg);
    background-position: 100% 30%; /* The 40% shifts the image down in the box */
    background-size: cover;
    text-align: center;
    color: #fff;
}
/* moving text in subheader to center of photo*/ 
.sub-header-news h1{ 
    font-size: 40px;
    margin-top: 100px;
}



/* ----- Sub Page ---------------*/ 
/*------ research --------*/ 
.sub-header-research { 
    height: 50vh;
    width: 100%; 
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/old-3d-printers.png);
    background-position: 100% 50%; /* The 40% shifts the image down in the box */
    background-size: cover;
    text-align: center;
    color: #fff;
}
/* moving text in subheader to center of photo*/ 
.sub-header-research h1{ 
    font-size: 40px;
    margin-top: 100px;
}


.research-container{
    display: flex;
    flex: 33.33%;
    padding: 5px;
	gap: 5px; 
	justify-content: space-evenly;
}
.research-col{ 
    align-content: center;
	width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.research-col p{
    text-align: left;
	font-size: 15px;
	font: 'Roboto';
    padding-left: 7%;
    color: black; 
}
.research-col h1{ 
    padding-left: 7%;
}
.research-col img{
    width: 75%;  
    padding-left: 10%;
}

.research-col-1{ 
    align-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.research-col-1 p{ 
    text-align: left;
    font-size: 15px;
    font: 'Roboto';
    padding-right: 15%;
    color: black; 
}
.research-col-1 h1{ 
    padding-left: 1%;
    padding-right: 6%; 
}
.research-col-1 img{ 
    width: 75%; 
    padding-left: 10%;
}
.center-img{ 
    display: flex; 
    align-content: center;
    justify-content:space-evenly;
}

.publications{ 
    padding: 5%;
}
.publications h1{
    text-align: left;
    font-size: 40px;
}
.publications p{
    text-align: left;
    font-size: 20px;
    color: black;
}