---
permalink: bundle.css
---
<!--"Page" to automatically bundle css files-->
{% include "css/base.css" %}
{% include "css/header.css" %}
{% include "css/footer.css" %}
{% include "css/home.css" %}
{% include "css/news.css" %}
{% include "css/publications.css" %}
{% include "css/research.css" %}
{% include "css/team.css" %}
{% include "css/docs.css" %}