---
permalink: "/"
layout: 'layouts/site.njk'
title: 'Home'
---

<div class="home">
  <section class="landing">
    <div id="landing-background">
      {% include "svg/drone.svg"%}
    </div>
    <div id="landing-content">
      <h1>Autonomous<br>Interactive Robotics Lab</h1>
        <p>
          To design and build a heterogenous team of autonomous ground and aerial vehicles, with safe navigation in real
          environments.
        </p>
        <a href="/projects/" class="text-button icon-button hover-shadow"/>
          {% include "svg/arrow-down-line.svg"%}
        <div class="button-text">PROJECTS</div>
      </a>
    </div>
  </section>
  <section class="links">
    <a href="https://github.com/airou-lab" class="text-button icon-button hover-shadow" id="github">
      {% include "svg/github-mark.svg"%}
      <div class="button-text">CODE</div>
    </a>
    <a href="https://airou-lab.github.io/docs/" class="text-button icon-button hover-shadow" id="mdbooks">
      {% include "svg/mdbooks.svg"%}
      <div class="button-text">DOCS</div>
    </a>
  </section>
  <section class="hero">
    <p>
      AirOU mission: design and build a heterogenous team of autonomous ground and aerial vehicles, with robust perception and
      safe navigation in real environments. Collaboration is our passion! Real world application is our goal: delivery,
      transportation system, weather forecast, search and rescue, and mapping.
    </p>
  </section>
  <section class="technologies">
    <h2>Utilizing:</h2>
    <ul>
      <li>Machine Learning</li>
      <li>Reinforcement Learning</li>
      <li>Multi-agent Systems</li>
      <li>Data Fusion</li>
      <li>Localization and Mapping (SLAM)</li>
      <li>Robust Control and Navigation</li>
      <li>Autonomous Driving</li>
      <li>Computer Vision</li>
    </ul>
  </section>
</div>
