---
permalink: "/"
layout: 'layouts/site.html'
title: 'Autonomous Interactive Robotics Lab @OU (AIROU)'
---
<div class="home">
  <section class="landing">
    <div id="landing-background">
      {% include "svg/drone.svg"%}
    </div>
    <div id="landing-content">
      <div class="landing-hero">
        <h1>Autonomous<br>Interactive Robotics Lab</h1>
        <p>
        AirOU mission: design and build a heterogenous team of autonomous ground and aerial vehicles, with safe navigation in
        real environments.
      </p>
      </div>
      <a href="/research/">
        {% include "svg/arrow-down-line.svg"%}
        <div class="button-text">RESEARCH</div>
      </a>
    </div>
  </section>
  <section class="hero">
    <p class="p">
      AirOU mission: design and build a heterogenous team of autonomous ground and aerial vehicles, with robust perception and safe navigation in
      real environments. Collaboration is our passion!
      Real world application is our goal: delivery,
      transportation system, weather forecast, search and rescue, and mapping.
    </p>
  </section>
  <section class="technologies">
    <h1>Utilizing:</h1>
    Machine Learning<br>
    Reinforcement Learning<br>
    Multi-agent Systems<br>
    Data Fusion<br>
    Localization and Mapping (SLAM)<br>
    Robust Control and Navigation<br>
    Autonomous Driving<br>
    Computer Vision
  </secton>
</div>