---
permalink: "/news/"
layout: 'layouts/site.njk'
title: AIROU News
---

<div class="news page-content">
  <h1>Lab News</h1>
  {% for snippet in news %}
    {% set snippetloop = loop %}
    {% include "partials/news-snippet.njk" %}
  {% endfor %}
</div>
<script>
  function openDialog(snippet) {
    const dialog = document.getElementById(snippet);
    dialog.show();
  }
</script>