---
permalink: "/research/"
layout: 'layouts/site.html'
title: 'Our Research'
---
<div class="research normal-width">
  <h1>
    Research
  </h1>
  <section>
    <p>
      Our research investigates the solution for robust and  safe perception, planning, and control to build a fully autonomous, but safe and resilliant robotic system.
    </p>
    <p>
      Our project idea is extended to multi-vehicles
      with the ability of sharing information between fleets of vehicles. We design and develop the state-of-the-art data fusion and decision making technology with the aid of intelligent communication to build a reliable and robust team of autonomous vehicles.
    </p>
  </section>
  <section>
    <div class="research-set">
      {% for highlight in research %}
        {% include "partials/card-research.html" %}
      {% endfor %}
    </div>
  </section>
</div>