---
permalink: "/research/{{ project.title | slugify }}/"
layout: 'layouts/site.html'
title: 'Research Spotlight'
pagination: 
    data: research
    size: 1
    alias: project
myData:
    myKey: 'Heyyooooooooooooooooooo'
---
<div class="research normal-page">
    <div class="research-spotlight">
        <a href="/research/">Return to Research</a>

        <h1>
            {{ project.title }}
        </h1>

        {% if project.github or project.docs%}
            <div class="links">
                {% if project.github %}
                    <a href={{project.github}} class="text-button" id="github">
                        {% include "svg/github-mark.svg"%}
                        <div class="button-text">CODE</div>
                    </a>
                {% endif %}
                {% if project.docs %}
                    <a href={{project.docs}} class="text-button" id="mdbooks">
                        {% include "svg/mdbooks.svg"%}
                        <div class="button-text">DOCS</div>
                    </a>
                {% endif %}
            </div>
        {% endif %}

        {% renderFile["src/_includes/", project.page] | join %}

    </div>
</div>