---
permalink: "research/"
layout: 'layouts/base.html'
title: 'Our Research'
---

<div class="research">

  <h1>
    Research
  </h1>

  <section>
    <p>
    Visit <a href="https://github.com/airou-lab">our GitHub organization</a> to see our codebases! 
    </p>

    <p>
    To view documentation, see <a href="https://airou-lab.github.io/air-lab-documentation/">our wiki</a>.
    </p>

  </section>

  <section>
    <p>
      Our research investigates the solution of replacing LiDARS with
      stereo cameras, and the sensor fusion of semantic information extracted
      from monocular cameras and depth information from stereo cameras for increased
      autonomous accuracy.
    </p>
    <p>
      Our project idea provides a vision-based perception platform, extended to multi-vehicles
      with the ability of sharing information between fleets of vehicles,
      such that the map and localization at intersections are fused to achieve improved coverage.
    </p>
  </section>

  <section>
    <div class="research-set">
      {% for highlight in research %}
        {% include "partials/research-card.html" %}
      {% endfor %}
    </div>
  </section>
  <div>
