---
permalink: "/team/{{ member.name | slugify }}/"
layout: 'layouts/site.njk'
title: 'Team Spotlight'
pagination: 
    data: team
    size: 1
    alias: member
---

<div class="team page-content">
    <li class="member">
        <div class="button">
            <a href="/team/">BACK TO TEAM</a>
        </div>
        {% if member.image %}
            <img src="{{ member.image }}" alt=""/>
        {% endif %}
        <h3>
            {{ member.name }}
        </h3>
        <p>
            {{ member.bio | safe }}
        </p>
    </li>
</div>