---
permalink: "/team/"
layout: 'layouts/site.njk'
title: 'Team'
memberTypes: ["Principle Investigator", "PhD Student", Master Student", "Undergraduate Student"]
---

<div class="team page-content">
  <h1>Team</h1>
  <ul class="bio-set">
      {% for member in team %}
        {% if member.class == "Principle Investigator" %}
          <li>
            {% include "partials/card-bio.njk" %}
          </li>
        {% endif %}
      {% endfor %}
  </ul>

  <ul class="bio-set">
      {% for member in team %}
        {% if member.class == "PhD Student" %}
          <li>
            {% include "partials/card-bio.njk" %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h2>Former Students and Alumni</h2>
  <ul class="alum-set">
    {% for member in team %}
      {% if member.class == "Alumnus" %}
        <li>
          <a href="{{ member.url }}">{{ member.name }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <br/>
  <p>
    Positions are available for PhD and undergraduate research.<br/>Interested candidates should send their CV, transcripts,
    and a research statement to golnaz@ou.edu
  </p>
</div>
