---
permalink: "/team/"
layout: 'layouts/site.html'
title: 'Meet the Team'
---

<section class="team">
  <h1>Members</h1>
  <h2>
    Faculty
  </h2>
  <ul class="bio-set">
    {% for member in team %}
      {% if member.class == "pi" %}
        {% include "partials/bio-card.html" %}
      {% endif %}
    {% endfor %}
  </ul>
  <h2>
    Graduate Students
  </h2>
  <ul class="bio-set">
    {% for member in team %}
      {% if member.class == "grad" %}
        {% include "partials/bio-card.html" %}
      {% endif %}
    {% endfor %}
  </ul>
  <h2>
    Undergraduate Students
  </h2>
  <ul class="bio-set">
    {% for member in team %}
      {% if member.class == "undergrad" %}
        {% include "partials/bio-card.html" %}
      {% endif %}
    {% endfor %}
  </ul>
  <h2>
    Former Students and Alumni
  </h2>
  <ul class="bio-set">
    {% for member in team %}
      {% if member.class == "alumni" %}
        {% include "partials/bio-card.html" %}
      {% endif %}
    {% endfor %}
  </ul>
  <p>
    Positions are available for PhD and undergraduate research.<br>
    Interested candidates should send their CV, transcripts, and a research statement to golnaz@ou.edu
  </p>
</section>