---
permalink: "/team/"
layout: 'layouts/site.njk'
title: 'Team'
memberTypes: ["Principal Investigator", "PhD Student", "Master's Student", "Undergraduate Student","Alumni"]
---

<div class="team page-content">
  <h1>Team</h1>
  <h2>Lab Director</h2>
  <ul class="bio-set">
      {% for member in team %}
        {% if member.class == "Principal Investigator" %}
          <li>
            {% include "partials/card-bio.njk" %}
          </li>
        {% endif %}
      {% endfor %}
  </ul>
  <h2>PhD Students</h2>
  <ul class="bio-set">
      {% for member in team %}
        {% if member.class == "PhD Student" %}
          <li>
            {% include "partials/card-bio.njk" %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h2>Master's Students</h2>
  <ul class="bio-set">
      {% for member in team %}
        {% if member.class == "Master's Student" %}
          <li>
            {% include "partials/card-bio.njk" %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h2>Undergraduate Students</h2>
  <ul class="bio-set">
      {% for member in team %}
        {% if member.class == "Undergraduate Student" %}
          <li>
            {% include "partials/card-bio.njk" %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>
  <h2>Alumni</h2>
  <ul class="alum-set">
    {% for member in team %}
      {% if member.class == "Alumnus" %}
        <li>
          {% if member.url and (member.url | url) %}
            <a href="{{ member.url }}">{{ member.name }}</a>
          {% elif member.slug %}
            <a href="/team/{{ member.slug }}/">{{ member.name }}</a>
          {% else %}
            <a href="/team/{{ member.name | slugify }}/">{{ member.name }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <br/>
  <p>
    Positions are available for PhD and undergraduate research.<br/>Interested candidates should send their CV, transcripts,
    and a research statement to golnaz@ou.edu
  </p>
</div>
