---
permalink: "/team/"
layout: 'layouts/site.html'
title: 'Meet the Team'
---
<div class="team normal-page">
  <h1>
    Members
  </h1>
  <ul class="bio-set">
    {% for member in team %}
      {% if member.class == "Faculty" %}
        {% include "partials/card-bio.html" %}
      {% endif %}
    {% endfor %}
    {% for member in team %}
      {% if member.class == "Graduate" %}
        {% include "partials/card-bio.html" %}
      {% endif %}
    {% endfor %}
    {% for member in team %}
      {% if member.class == "Undergraduate" %}
        {% include "partials/card-bio.html" %}
      {% endif %}
    {% endfor %}
  </ul>
  <h2>
    Former Students and Alumni
  </h2>
  <ul class="bio-set">
    {% for member in team %}
      {% if member.class == "Alumnus" %}
        {% include "partials/card-bio.html" %}
      {% endif %}
    {% endfor %}
  </ul>
  <br>
  <p>
    Positions are available for PhD and undergraduate research.<br>
    Interested candidates should send their CV, transcripts, and a research statement to golnaz@ou.edu
  </p>
</div>