<!--- Header --->
<section class="header">

    <!--- Header Text (Lab name and description) --->
    <div class="header-title">
        <a href="/">AIROU</a>
    </div>

    <!--Header Navigation Menu-->
    <nav>
        <ul>
            <li><a class="nav-button" href="/team">TEAM</a></li>
            <li><a class="nav-button" href="/publications">PUBLICATIONS</a></li>
            <li><a class="nav-button" href="/research">RESEARCH</a></li>
            <li><a class="nav-button" href="/news">NEWS</a></li>
        </ul>
    </nav>
</section>
<!--- Header --->