<!--- Header --->
<section class="header">

    <!--- Header Text (Lab name and description) --->
    <h1>
        <a href="/">AIROU</a>
    </h1>

    <!--Header Navigation Menu-->
    <nav>
        <ul>
            <li>
                <a href="/team">TEAM</a>
            </li>
            <li>
                <a href="/publications">PUBLICATIONS</a>
            </li>
            <li>
                <a href="/research">RESEARCH</a>
            </li>
            <li>
                <a href="/news">NEWS</a>
            </li>
        </ul>
    </nav>
</section>
<!--- Header --->