<!--- Header --->
<section class="header">

    <!--- Header Text (Lab name and description) --->
    <div class="header-title">
        <a href="/">AIROU</a>
    </div>

    <!--Header Navigation Menu-->
    <nav>
        <!---<a href="index.html"><img src="photos/airou_logo.png"></a>-->
        <div class="nav-links">
            <i class="fa fa-times" aria-hidden="true" onclick="hideMenu()"></i>
            <ul>
                <li><a class="nav-button" href="/team">TEAM</a></li>
                <li><a class="nav-button" href="/publications">PUBLICATIONS</a></li>
                <li><a class="nav-button" href="/research">RESEARCH</a></li>
                <li><a class="nav-button" href="/news">NEWS</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
    </nav>
</section>
<!--- Header --->

<!-------- Script for Toggle Menu ------------->
<script>

    var navLinks = document.getElementById("navLinks");
    function showMenu() {
        navLinks.style.right = "0";
    }
    function hideMenu() {
        navLinks.style.right = "-200px";
    }

</script>