.footer {
    background-color: #391819;
    padding: 48px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 8vw;

    & img {
        height: 72px;
        opacity: 0.7;
    }

    & p {
        color: #FFFFFF;
        opacity: 0.7;
        font-weight: 325;
        letter-spacing: 0.3px;
    }
}