---
permalink: "research/"
layout: 'layouts/page.html'
title: 'Our Research'
---

<div class="research">

  <h1>Research</h1>

  <p>
  Our research investigates the solution of replacing LiDARS with
  stereo cameras, and the sensor fusion of semantic information extracted
  from monocular cameras and depth information from stereo cameras for increased
  autonomous accuracy.

  Our project idea provides a vision-based perception platform, extended to multi-vehicles
  with the ability of sharing information between fleets of vehicles,
  such that the map and localization at intersections are fused to achieve improved coverage.
  </p>
  {% for highlight in research %}
    {% include "partials/research-highlight.html" %}
  {% endfor %}

  <div class="research-container">
    <div class="research-col-1">
      <img src="/assets/images/real-sense-camera.png" alt="holder image">
    </div>
    <div class="research-col-1">
      <h2> 3D Perception with Stereo Cameras </h2>
      <p>
        <br>
      We currently plan to utilize a RealSense Depth Camera D435i to capture the depth
      and geometric information of the vehicle's surroundings during localization.
      Stereo cameras feature two lenses that simulate the human visual experience through
      triangulation and captures the depth perception that a monocular camera cannot.
      In parallel to our project, we are looking into extracting the depth information
      from the stereo camera and generating a point cloud similar to a LiDAR point cloud.
      This will be used as a replacement since LiDAR is typically more expensive.
    </p>
    </div>
  </div>

  <!-- Previous Work -->
  <div class="research-container">
    <div class="research-col">
      <h2> Previous Work </h2>
      <p>
        <br>
      We present a Similarity-based Incremental Learning Algorithm
      (SILA) [1] for pedestrian motion prediction with the ability of
      improving the learned model over the time as data is obtained
      incrementally.
      To keep the model size efficient, the motion primitives learned
      from the new data are compared with the previously known ones,
      and similar motion primitives are fused while novel motion
      primitives are added to the model.
      <br>
        <br>
      SimFuse is a similarity-based model fusion algorithm for
      improving the prediction accuracy which enables autonomous
      agents to incrementally update their knowledge by communicating
      with other vehicles (V2V) or by infrastructures (V2I).
      <br>
        <br>
      This is where we propose the use of a multi-camera visual SLAM
      method, capable of gauging depth through machine learning.
    </p>
    </div>
    <div class="research-col">
      <img src="/assets/images/graph-1.png" alt="graph 1">
    </div>
  </div>

  <div class="research-container">
    <div class="research-col-1">
      <img src="/assets/images/graph-2.png" alt="graph-2">
    </div>
    <div class="research-col-1">
      <p>
        <br><br>
      By merging the maps created from each camera, effectively
      creating a multi-camera system, one could hope to remedy
      complications found in single camera systems, such as
      environmental conditions, like the affect of direct sunlight or other
      obscuring weather conditions.
      <br>
        <br>
        <br>
      </p>
      <h2> References </h2>
      <p> [1] G. Habibi, N. Jaipuria and J. P. How, "SILA: An
      Incremental Learning Approach for Pedestrian
      Trajectory Prediction," 2020 IEEE/CVF
      Conference on Computer Vision and Pattern
      Recognition Workshops (CVPRW), 2020, pp. 4411-
      4421, doi: 10.1109/CVPRW50498.2020.00520. </p>

      <p> [2] G. Habibi and J. P. How, "Human Trajectory Prediction Using Similarity-Based
      Multi-Model Fusion," in IEEE Robotics and Automation Letters, vol. 6, no. 2, pp.
      715-722, April 2021, doi: 10.1109/LRA.2020.3048652.
    </p>
    </div>
  </div>
  <!-- Previous Work -->
  <h2 style="text-align: center;"> Recent Research Presentation Poster Submissions </h2><br><br>
  <div class="center-img">
    <!--<img src="/assets/images/daniel-poster.png" style="width: 40%; align-content: center;"> 
    <img src="/assets/images/yuki-tyler-poster.png" style="width: 40%; align-content: center;"> -->
    <img src="/assets/images/Airou-research-poster.jpg" alt="Research poster" style="width: 80%; align-content: center;">
    <img src="/assets/images/Airou-research-poster.jpg" alt="Research poster" style="width: 80%; align-content: center;">
    <img src="/assets/images/Airou-research-poster.jpg" alt="Research poster" style="width: 80%; align-content: center;">
  </div>
</div>