<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="with=device-width, initial- 
  scale=1.0">
    <title>AIROU Laboratory</title>
    <link rel="stylesheet" href="/bundle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?
    family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/
    fontawesome-free@6.2.0/css/fontawesome.min.css">
</head>


<body>

    <!--- Header --->
    <section class="header">
        <!--Header Navigation Menu-->
        <nav>
            <!---<a href="index.html"><img src="photos/airou_logo.png"></a>-->
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" aria-hidden="true" onclick="hideMenu()"></i>
                <ul>
                    <li><a class="nav-button" href="/">HOME</a></li>
                    <li><a class="nav-button" href="/team">TEAM</a></li>
                    <li><a class="nav-button" href="/publications">PUBLICATIONS </a></sli>
                    <li><a class="nav-button" href="/research">RESEARCH</a></li>
                    <li><a class="nav-button" href="/news">NEWS</a></li>
                    <li><a class="nav-button" href="/#prospective">PROSPECTIVE STUDENTS</a></li>
                    <li><a class="nav-button" href="/#contact">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
        </nav>

        <!--- Header Text (Lab name and description) --->
        <div class="text-box">
            <h1>{{ title }}</h1>
        </div>
    </section>
    <!--- Header --->

    {% block content %}{% endblock %}

    <!--- Footer ---->
    <div id="contact">
        <section class="footer">
            <h4>Contact Us</h4>
            <p>
                Air Lab <br>
                golnaz@ou.edu <br>
                Carson Engineering Center Room 12 <br>
                202 W Boyd St <br>
                Norman, OK 73019
            </p>
        </section>
    </div>
    <!--- Footer ---->


    <!-------- Script for Toggle Menu ------------->
    <script>

        var navLinks = document.getElementById("navLinks");
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }

    </script>

</body>

</html>