<a href="{% if member.url and (member.url | url) %}{{ member.url }}{% elif member.slug %}/team/{{ member.slug }}/{% else %}/team/{{ member.name | slugify }}/{% endif %}" class="text-button card hover-shadow">
    {% if member.class != "Alumnus" %}
        {% if member.image %}
            <img src="{{ member.image }}" class="image" alt=""/>
        {% else %}
            <div class="image color-filler"></div>
        {% endif %}
    {% endif %}
    <div class="card-text">
        {{ member.name }}
    </div>
    {% if member.class != "Alumnus" %}
        <div class="card-subtext">
            {{ member.class }}
        </div>
    {% endif %}
</a>