<footer>
    <div class="footer-item">
        AIR Lab<br>golnaz@ou.edu<br>Carson Engineering Center, Room B12<br>202 W Boyd St<br>Norman, OK 73019
    </div>
    <div class="footer-item">
        <a href="https://www.ou.edu/coe">
            <img src="/assets/images/college of engineering-2-full.png" alt="Gallogly College of Engineering Logo"/>
        </a>
    </div>
</footer>