<header>
    <h1>
        <a href="/">AIROU</a>
    </h1>
    <nav class="menu">
        <ul>
            <li>
                <a href="/team/">TEAM</a>
            </li>
            <li>
                <a href="/publications/">PUBLICATIONS</a>
            </li>
            <li>
                <a href="/research/">RESEARCH</a>
            </li>
            <li>
                <a href="/news/">NEWS</a>
            </li>
            <li>
                <a href="/docs/">DOCS</a>
            </li>
        </ul>
    </nav>
    <button type="button" class="hamburger" onClick="console.log('hey');">
            Open Navigation
            <i class="menuIcon material-icons">menu</i>
        <i class="closeIcon material-icons">close</i>
    </button>
    <script src="/assets/js/mobile-nav.js"></script>
</header>