<header>
    <h1>
        <a href="/">AIROU</a>
    </h1>
    <nav class="menu hideMenu">
        <ul>
            <li><a href="/projects/">PROJECTS</a></li>
            <li><a href="/publications/">PUBLICATIONS</a></li>
            <li><a href="/team/">TEAM</a></li>
            <li><a href="/news/">NEWS</a></li>

        </ul>
    </nav>
    <button type="button" class="hamburger" onClick="toggleMenu()" title="Open Navigation Menu">
        <i class="menuIcon material-icons">menu</i>
        <i class="closeIcon material-icons">close</i>
    </button>
    <script src="/assets/js/mobile-nav.js"></script>
</header>
