<section class="header">
    <h1>
        <a href="/">AIROU</a>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="/team">TEAM</a>
            </li>
            <li>
                <a href="/publications">PUBLICATIONS</a>
            </li>
            <li>
                <a href="/research">RESEARCH</a>
            </li>
            <li>
                <a href="/news">NEWS</a>
            </li>
            <li>
                <a href="/docs">DOCS</a>
            </li>
        </ul>
    </nav>
</section>