{% set snippet_class = (snippet.title | slugify) %}
<button class="card news-snippet hover-shadow" onclick="openDialog('{{ snippet_class }}')" type="button">
    <div class="content">
        <h3>{{ snippet.date }}</h3>
        <h2>{{ snippet.title }}</h2>
    </div>
    {% set image = snippet.images|first %} <img class="imager" src="{{ image }}"/>
</button>
<sl-dialog id="{{ snippet_class }}">
    <div slot="label">
        <h3>{{ snippet.date }}</h3>
    </div>
    <div>
        <h2>{{ snippet.title }}</h2>
        <p>{{ snippet.content | safe }}</p>
        <sl-carousel pagination navigation mouse-dragging loop>
            {% for image in snippet.images %}
                <sl-carousel-item>
                    <img src="{{ image }}"/>
                </sl-carousel-item>
            {% endfor %}
        </sl-carousel>
    </div>
</sl-dialog>