{% set last_date = null %}

<div class="news">
    <h1>News</h1>

    {% for snippet in news %}
        {# Only display the date heading once per group #}
        {% if last_date != snippet.date %}
            <h2 class="news-date">{{ snippet.date }}</h2>
            {% set last_date = snippet.date %}
        {% endif %}

        {# Generate a unique class for the news snippet #}
        {% set snippet_class = (snippet.title | slugify) %}
        
        <button class="card news-snippet hover-shadow" onclick="openDialog('{{ snippet_class }}')" type="button">
            <div class="content">
                <h2>{{ snippet.title }}</h2>
            </div>
        </button>

        {# Modal dialog for the news #}
        <sl-dialog id="{{ snippet_class }}">
            <div slot="label">
                <h3>{{ snippet.date }}</h3>
            </div>
            <div>
                <h2>{{ snippet.title }}</h2>
                <p>{{ snippet.content | safe }}</p>

                {% if snippet.images and snippet.images.length > 0 %}
                    <sl-carousel pagination navigation mouse-dragging loop>
                        {% for image in snippet.images %}
                            <sl-carousel-item>
                                <img src="{{ image }}" alt="News Image" />
                            </sl-carousel-item>
                        {% endfor %}
                    </sl-carousel>
                {% endif %}
            </div>
        </sl-dialog>
    {% endfor %}
</div>
